Build/*
DerivedData/*
BezierClock.xcodeproj/xcuserdata/*
BezierClock.xcodeproj/project.xcworkspace/*
*~


BezierClock.xcodeproj/project.xcworkspace/xcuserdata/pjs.xcuserdatad/UserInterfaceState.xcuserstate
